.container {
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

.wrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: relative;
    top: 80%; /*here*/
}

.wrapper>img {
    width: 30rem;
    position: absolute;
    bottom: 0;
}



.blueCircle{
    width: 30rem !important;
    height: 30rem !important;
    border-radius: 50% !important;
    z-index: 0 !important;
    position: absolute !important;
    bottom: 0 !important;
    background: linear-gradient(135.74deg, #0bb5ff 14.09%, #6dd3fe 83.81%) !important;
    box-shadow: 0 0 30px 5px #171717 inset;
}

.cart2{
    position: absolute;
    bottom: 100%;
    right: 5%;
    display: flex;
    gap: 1rem;
    align-items: center;

}

.cart2>svg{
    width: 30px;
    height: 30px;
    color: black;
    background: white;
    padding: 10px;
    border-radius: 50%;
    border: 6px solid var(--white);
}


.signup{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: black !important;
    background: white;
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 15px;
    box-shadow: var(--shadow1);
}


.signup>:first-child{
   display: block;
   width: 6rem;
}

.signup>:nth-child(2){
    border-radius: 50%;
    border: 1px solid skyblue;
    display: flex;
    width: 20px;
    height: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}



.h_side{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.text1{
    text-transform: uppercase;
    font-size: 1.5rem;
    width: min-content;
    display: block;
    font-weight: 600;
}


.text2{
    display: flex;
    flex-direction: column;
    width: min-content;
    color: white;
}

.text2>:first-child{
    font-weight: 800;
    font-size: 2.5rem;
}

.text2>:nth-child(2){
    display: block;
}

.traffic{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.traffic>:first-child{
    font-weight: 500;
    font-size: 2.5rem;
}

.customers{
    display: flex;
    flex-direction: column;
    text-align: right;
}


.customers>:first-child{
    font-weight: 800;
    font-size: 2.5rem;
}




/*Aqui empieza*/


.softwareDevelopment {
  animation: background 20s linear infinite;
  background: linear-gradient(90deg, rgb(135, 62, 202) 0%,rgb(113, 61, 148) 10%,rgb(60, 70, 207) 20%,rgba(74,165,168,1) 30%,rgba(89,90,165,1) 40%,rgb(212, 37, 169) 50%,rgb(56, 114, 124) 60%,rgba(82,175,183,1) 70%,rgb(76, 120, 170) 80%,rgb(58, 56, 185) 90%,rgba(199,201,88,1) 100%);
  background-size: 1000% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes background {
  0%{background-position:0% 50%}
  100%{background-position:100% 50%}
}




@media screen and (max-width: 856px) {
    .text1, .text2>span:nth-of-type((2)){
        font-size: .9rem;
        text-align: justify;
    }

    .text2 > span:nth-of-type(1),
    .traffic > span:nth-of-type(1),
    .customers > span:nth-of-type(1) {
        font-size: 1.5rem;
    }

    .blueCircle{
        position: absolute;
        width: 70%;
        height: 100%;
    }

    .wrapper>img{
        width: 70%;
        height: 100%;
    }

    .container{
        grid-template-areas: 
        'left center center'
        'right right right';
    }

    .container>:first-child{
        grid-area: left;
        grid-template-rows: none;
        gap: 8rem;
    }

    .container>:nth-child(2){
        grid-area: center;
        display: flex;
        justify-content: space-around;
        margin: 2rem 0rem;
    }

}

@media screen and (max-width: 800px) {
    .blueCircle{
        top: -15 !important;
        width: 10rem !important;
        height: 10rem !important; 
    }

    .wrapper>img{
        top: -3rem;
        width: 8rem;
        height: 10rem;
    }

    .cart2{
        transform: scale(.7);
        right: -2rem;
        bottom: 0;
    }
}